body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#container {
    width: 700px;
    margin: 0 auto;
}

#prof-pic {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#top-section {
    text-align: center;
    margin: 64px 0;
}

h1 {
    font-size: 56px;
    font-weight: 400;
    line-height: 72px;
}

p {
    font-size: 24px;
    line-height: 40px;
}

p a {
    color: blue;
    text-decoration: none;
}

hr {
    margin: 56px 0;
}

.project-box {
    border: 1px solid #bbbbbb;
    padding: 48px;
    border-radius: 16px; 
    margin-bottom: 32px;
}

.project-box img {
    width: 100%;
}

.project-box h2 {
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 12px;
}

.project-box p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 12px;
}

.project-wrapper {
    color: unset;
    text-decoration: none;
}